/.travis/
/build/
/examples/
/guides/
/lib/
/test/
/vendor/Release/

/include
/src

# exclude openssl dir - it will be recreated and rebuilt
/vendor/openssl

# exclude files not used in compilation
/vendor/libssh2/tests
/vendor/libssh2/docs
/vendor/libgit2/tests
/vendor/libgit2/fuzzers

# exclude previously generated pack
nodegit-*.tgz

.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml

!binding.gyp

*.filters
*.log
*.md
*.sln
*.vcxproj
